::-moz-selection {
	color: $white;
	background: $lime-dark-color;
}

::selection {
	color: $white;
	background: $lime-color;
}

.description {
	color: $grey-color;
	margin-top: rem-calc(24);
	text-align: center;
}

.subtitle {
	color: $slate-color;
}

.primary {
	color: $lime-dark-color;
}

.text-right {
	text-align: right;
}

.btn-white {
	background-color: $white;
	border: 1px solid $grey-color;
	color: $grey-color;

	&:hover {
		background-color: $grey-color;
		color: $white;
	}
}

a.button {
	background-color: $lime-dark-color;
	border-top: 3px solid $lime-color;

	&:hover {
		background-color: scale-color($lime-dark-color, $lightness: -10%);
	}

	&:active {
		border-top: $lime-dark-color;
	}
}

.gradient-border {
	background-color: $jungle-dark-color;
	background: #24394d;
	background: #24394d;
	background: -moz-linear-gradient(left,  #24394d 0%, #60b3b1 35%, #a4d683 50%, #60b3b1 75%, #24394d 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#24394d), color-stop(35%,#60b3b1), color-stop(50%,#a4d683), color-stop(75%,#60b3b1), color-stop(100%,#24394d));
	background: -webkit-linear-gradient(left,  #24394d 0%,#60b3b1 35%,#a4d683 50%,#60b3b1 75%,#24394d 100%);
	background: -o-linear-gradient(left,  #24394d 0%,#60b3b1 35%,#a4d683 50%,#60b3b1 75%,#24394d 100%);
	background: -ms-linear-gradient(left,  #24394d 0%,#60b3b1 35%,#a4d683 50%,#60b3b1 75%,#24394d 100%);
	background: linear-gradient(to right,  #24394d 0%,#60b3b1 35%,#a4d683 50%,#60b3b1 75%,#24394d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24394d', endColorstr='#24394d',GradientType=1 );
	height: rem-calc(20);
}

.sr-only {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.header_section {
	text-align: center;
}

/**
 * Header styles
 */
.header {
	padding: rem-calc(30) 0;
	position: absolute;
	width: 100%;

	.button {
		color: $white;
		text-transform: uppercase;
	}
}

.logo {
	margin: .25rem 0;
}

/**
 * Hero section styles
 */
.hero {
	background-color: $jungle-dark-color;
	padding-top: rem-calc(120);
}

/**
 * Welcome developers section styles
 */
.welcome {
	padding: $column-gutter*2 0;
	position: relative;
	z-index: 9;

	.title {
		font-size: $h3-font-size;

		@media #{$medium-up} {
			font-size: $h1-font-size;
		}
	}

	.description {
		font-size: rem-calc(18);

		@media #{$medium-up} {
			font-size: rem-calc(22);
		}
	}
}

.content_welcome {
	.subtitle {
		font-size: $h3-font-size;
		margin-bottom: rem-calc(36);
	}
}

.questions_welcome {
	margin-top: rem-calc(25);
	text-align: center;

	@media #{$medium-up} {
		margin-top: rem-calc(115);
		text-align: right;

		p {
			padding-left: rem-calc(80);
		}
	}
}

.trivia_welcome {
	margin-top: rem-calc(25);
	text-align: center;

	@media #{$medium-up} {
		margin-top: rem-calc(115);
		text-align: left;

		p {
			padding-right: rem-calc(80);
		}
	}
}

.screen_welcome figure {
	margin: 0;
	text-align: center;
}

// Motivational rewards section
.rewards {
	background-color: #F6F6F6;
	padding-top: $column-gutter*2;

	.title {
		color: $grey-dark-color;
		margin-top: rem-calc(50);
	}

	.gradient-border {
		margin-top: rem-calc(50);
	}

	@media #{$large-up} {
		margin-top: -(rem-calc(250));
		padding-top: rem-calc(250);
	}
}

.header_rewards {
	p {
		font-size: $h5-font-size;
	}

	.primary {
		margin-bottom: rem-calc(30);
	}
}

.item_reward {
	display: table;

	figure {
		display: table-cell;
		margin: 0;
		vertical-align: middle;
		width: 188px;

		img {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	p {
		color: $grey-color;
		font-size: rem-calc(22);
		font-weight: 300;
		display: table-cell;
		vertical-align: middle;

		span {
			display: block;
		}
	}
}

// Languages section
.languages {
	padding: $column-gutter*2 0;
	text-align: center;

	.primary {
		font-weight: 300;
		margin-bottom: rem-calc(5);
		text-transform: uppercase;
	}
}

.content_languages {
	ul {
		margin-top: $column-gutter;
	}

	figure {
		margin: 0;
		
		@media #{$medium-up} {
			padding: rem-calc(40);
		}
	}
}

.footer_languages {
	.contact {
		color: $grey-color;
		font-weight: 300;
	}

	.contact a {
		color: $grey-color;

		&:hover {
			color: $grey-dark-color;
			text-decoration: underline;
		}
	}
}

/**
 * Waiting list section
 */
.subscribe {
	background-color: #334C5A;
	padding: $column-gutter*2 0;
	@include radial-gradient(#3D7382, #273247);
}

.header_subscribe {
	.title {
		color: $white;
		font-size: $h2-font-size;

		@media #{$medium-up} {
			font-size: rem-calc(64);
		}
	}
}

.content_subscribe {
	text-align: center;

	p {
		font-size: rem-calc(19);
		color: $grey-color;
	}

	input {
		font-size: rem-calc(18);
		font-weight: 300;
		height: rem-calc(75);
		text-align: center;
	}

	a.button {
		display: block;
		color: $slate-color;
		font-size: rem-calc(20);
		line-height: 1.9;
	}
}

/**
 * Footer styles
 */
.footer {
	background-color: $slate-color;
	padding: $column-gutter*2 0;
	@include radial-gradient($slate-color, $slate-dark-color);

	@media #{$medium-up} {
		padding: $column-gutter*4;
	}
}

.social_footer {
	margin: 0;
	text-align: center;

	> li {
		display: inline-block;
		margin: 0 rem-calc(10);
	}

	.fa {
		background-color: $white;
		border-radius: 1000px;
		color: $slate-dark-color;
		height: rem-calc(60);
		line-height: rem-calc(60);
		text-align: center;
		width: rem-calc(60);
		@include transition(all, 0.4s, ease-in-out);
	}

	a:hover {
		.fa {
			background-color: $grey-color;
			color: $white;
		}
	}

	a:active {
		.fa {
			background-color: $grey-dark-color;
			color: $white;
		}
	}

	@media #{$medium-up} {
		text-align: left;

		> li:first-child {
			margin-left: 0;
		}
	}
}

.credit_footer {
	color: $white;
	font-size: rem-calc(13);
	padding-top: rem-calc(20);
	margin: 0;
	text-align: center;

	@media #{$medium-up} {
		padding-bottom: rem-calc(20);
		text-align: right;
	}	
}