/**
 * Color variables for Lambda
 */
$slate-color						: #40464F;
$slate-dark-color				: #2C2D3A;

$grey-color							: #87909E;
$grey-dark-color				: #707885;

$lime-color							: #BEEAA0;
$lime-dark-color				: #A4D683;

$white-dark-color				: #F7F4F4;